html, body {
background: pink;
box-sizing: border-box;
height:100%;
width:100%;
padding: 0px;
margin: 0px;
}

body div {
display:flex;
justify-content: center;
align-items: center;
}
h1 {
color: white;
font-size: 32px;
font-family: Helvetica, Arial, sans-serif;
}
